<?xml version="1.0"?>
<configuration xmlns="urn:newrelic-config" agentEnabled="true">
  <service licenseKey="$#LICENSEKEY#$" ssl="true" />
  <application>
  </application>
  <log level="info" />
  <instrumentation>
	<applications>
		<application name="Apprenda.WCFServiceHost.exe" />
	</applications>
  </instrumentation>
  <applicationPools>
	<!--<applicationPool name="$#IISAPPLICATIONNAME#$" instrument="true"/>-->	
  </applicationPools>
  <transactionTracer enabled="true" transactionThreshold="apdex_f" stackTraceThreshold="500" recordSql="obfuscated" explainEnabled="true" explainThreshold="500" />
  <crossApplicationTracer enabled="true" />
  <errorCollector enabled="true">
    <ignoreErrors>
      <exception>System.IO.FileNotFoundException</exception>
      <exception>System.Threading.ThreadAbortException</exception>
    </ignoreErrors>
    <ignoreStatusCodes>
      <code>401</code>
      <code>404</code>
    </ignoreStatusCodes>
  </errorCollector>
  <browserMonitoring autoInstrument="true" />
  <threadProfiling>
    <ignoreMethod>NewRelic.Agent.Core.HarvesterService:ThreadSleep</ignoreMethod>
  </threadProfiling>
</configuration>